# Build artifacts ROS2
build/
install/
log/

# Colcon
.colcon*

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Archivos muy pesados típicos
*.bag
*.db3
*.log


# =========================
# Dataset generado (NO versionar)
# =========================
dataset/**/depth/**
dataset/**/rgb/**
dataset/**/seg_colored/**
dataset/**/seg_labels/**

# Binarios/instaladores
*.deb
